.search-container {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 20px;
}

.search-container > input {
    border-color: rgb(185, 15, 15);
    border-radius: 5px;
    box-shadow: none;
    width: 250px;
    height: 40px;
}